.paginator-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  .page-items {
    select {
      min-width: 50px;
      border-radius: 5px;
      height: 24px;
      width: 75px;
      border: 1px solid #b3acac;

      &:focus {
        outline: none;
      }
    }
  }

  .item-count {
    font-size: medium;
    font-weight: bold;
  }

  .pagination {
    button {
      width: 30px;
      height: 30px;
      border: 1px solid darkgray;
      background-color: #848484;
      color: white;
      border-radius: 50%;
      cursor: pointer;
    
      &:disabled {
        cursor: default;
        background-color: transparent;
        color: darkgray;
      }

      i {
        display: flex;
        justify-content: center;
      }
    }
  }
}
