.drawer {
  position: fixed;
  top: 60px;
  height: 100%;
  width: 200px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  z-index: 2;
  background: rgb(248, 250, 252);
  border-right: 2px solid rgb(226, 232, 240);
  padding: 18px 15px 18px 16px;
  transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;

      a {
        display: block;
        padding: 6px;
        color: rgb(51, 65, 85);
        text-decoration: none;
        border-radius: 4px;
        overflow: hidden;
        background-color: transparent;

        &:hover {
          background-color: rgb(241, 245, 249);
        }

        &.active {
          background-color: rgb(203, 213, 225);
        }

        &.active,
        &:hover {
          outline-width: 0px;
        }

        span {
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.1px;
          margin-left: 8px;
          white-space: nowrap;
          color: rgb(51, 65, 85);;
        }
      }
    }
  }
}
