header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(226, 232, 240);
  position: sticky;
  z-index: 99;

  &.z-100 {
    z-index: 100 !important;
  }

  .logo {
    width: 250px;
    height: 45px;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .nav-right-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
    
    .logout-btn {
      width: 3em;
      height: 3em;
      cursor: pointer;
      background: transparent;
      border: none;
  
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
